body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #0078d4;
  margin-top: 20px;
}

button {
  background-color: #0078d4;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005a9e;
}

input[type="text"], input[type="file"] {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(100% - 40px);
  max-width: 400px;
}

#status {
  font-size: 14px;
  margin: 10px;
}

#eventsContainer {
  margin: 20px auto;
  padding: 15px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: left;
  border: 1px solid #ddd;
}

.event {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 10px;
}

.json-format {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f4f9;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  overflow-x: auto;
  font-size: 10px;
}

#uploadedImage {
  margin: 20px auto; /* Center horizontally */
  display: block;
  max-width: 80%; /* Maximum width as a percentage of the container */
  max-height: 400px; /* Set a maximum height */
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.server-response {
  background-color: #eaf4ff;
  border: 1px solid #0078d4;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  text-align: left;
}

.server-response p {
  margin: 0;
}
#uploadedImage {
  margin: 20px auto; /* Center horizontally */
  display: block;
  max-width: 80%;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Optional for vertical alignment */
}